* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* ============================== */
/* WRAP */
/* ============================== */

.wrap {
  width: fit-content;
  border-radius: 16px;
  overflow: hidden;
  margin: auto;
  margin-top: 20px;
  background-color: #22252d;
}

/* ============================== */
/* DISPLAY */
/* ============================== */

.calc-top {
  padding: 80px 0 20px 0;
}

.display {
  width: 176px;
  padding: 8px 16px;
  text-align: end;
  font-weight: bolder;
}

.display-text {
  height: 20px;
  color: #ffffff;
}

.display-result {
  background-color: #22252d;
  width: 176px;
  padding: 8px 16px;
  text-align: end;
  font-weight: bolder;
}

.display-result-text {
  height: 20px;
}

/* ============================== */
/* BODY */
/* ============================== */

.calc-body {
  border-radius: 16px;
  background-color: #292d36;
  padding: 4px;
}

/* ============================== */
/* BUTTON */
/* ============================== */

.calc-button {
  display: block;
  color: #ffffff;
  background-color: #272b33;
  width: 44px;
  height: 44px;
  margin: 8px;
  border-radius: 16px;
  cursor: pointer;
}

.calc-button:hover {
  background-color: #2c3146;
}

.calc-button:active {
  background-color: #3c3f4d;
}

.red {
  color: #d45731;
}
.green {
  color: #22af91;
}

/* ============================== */
/* GRID */
/* ============================== */

.grid-container {
  display: flex;
}

.grid-item {
  flex: 0 1 auto;
}
